body {
    margin: 0;
    background-color: #06091A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

a {
    color: rgb(72, 142, 255);
    margin-top: 20px;
}

.top {
    position: absolute;
    right: 0;
    padding-right: 30px;
}

h2 {
    text-align: center;
    margin-top: 10%;
    font-size: 3rem;
}

#intro {
    height: 800px;
    padding: 20px;
}

.preview {
    display: flex;
    margin-top: 10%;
}

.preview_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}